* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    overflow-x: hidden;
    background-color: #ffcda9;
}

section {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.justify {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.col-100 {
    width: 100%;
    margin: 0 auto;
}

.col_60 {
    width: 40%;
    margin: 0 auto;
}

.col_40 {
    width: 40%;
    margin: 0 auto;
}

.col_30 {
    width: 33.33%;
    margin: 0 auto;
}

.col_50 {
    width: 50%;
    margin: 0 auto;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

/* --header-- */
.logo {
    width: 0%;
    margin: 0 auto;
}

.homepage {
    background-color: #ffcda9;
    /* right: -100px; */
}

.header_text ul li {
    display: inline;
    padding: 0 50px;
    font-weight: bold;
}

header {
    padding: 20px 0;
}

.home {
    padding: 70px 0;
}

.home-img .img2 {
    right: -179px;
    top: -75px;
}

.home-img .img1 {
    z-index: 100;
    top: 45px;
    right: -74px;
}

.home-img .img3 {
    bottom: -90px;
    left: -28px;
}

.home-img .img4 {
    bottom: 0px;
    left: 0;
}

.home-text .img1 {
    left: -26px;
    bottom: -294px;
}

.home-text h1 {
    font-size: 150px;
}

.home-text p {
    font-size: 23px;
    padding: 20px 0;
}

.home-text button {
    background-color: #58c3d7;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.home-text h2 {
    color: black;
    font-family: 'Raleway-ExtraBold';
    font-weight: bolder;
    font-size: 141px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;

}

.home-t svg {
    transform: rotate(30deg);
}

svg text {
    text-anchor: middle;
    fill: black;
    font-size: 16px;
    offset: 50%;
}

.home-t {
    right: -100px;
    top: -108px;
}

.home-outside-img .img1 {
    right: 46px;
    bottom: 40px;
}

.home-outside-img .img2 {
    bottom: 30px;
    right: 0px;
}

/* --section 1 -- */

.sec-1 {
    background-color: #58c3d7;
}

.box {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box>img {
    width: 100%;
}

.img {
    top: 0;
    left: -269px;
    position: absolute;
}

.box .img1 {
    top: 0;
    right: -113px;
    position: absolute;
}

.box .img2 {
    top: 0;
    position: absolute;
}

.img-a {
    top: 0;
    position: absolute;
}

.img-b {
    top: 0;
    left: -351px;
    position: absolute;
}

.sec1-left-img,
.sec1-rit-img,
.sec1-rit-text {
    width: 80%;
    margin: 0 auto;
}

.wave-line {
    left: -249px;
}

.sec-1-left h3 {
    padding: 30px 0;
    font-size: 30px;
}

.sec1-rit-text h2 {
    font-size: 100px;
    padding-top: 200px;
    text-align: center;
}

.sec1-rit-text p {
    padding: 50px 0;
    text-align: right;
    font-size: 20px;
}

.sec1-rit-img h3 {
    padding: 30px 0;
    font-size: 30px;
}

.wave-line1 {
    right: 64px;
    bottom: -148px
}

/* --section 2-- */
.sec-2 {
    padding: 100px 0;
}

.sec2-header h2 {
    padding: 50px 0;
    font-size: 100px;
    transform: rotate(-5deg);
    margin: 0 124px;
}

.sec2-text1 {
    padding: 100px 0;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

.sec2-text1 h3 {
    font-size: 30px;
    border-bottom: 2px solid black;
    padding: 10px 0;
}

.sec2-text1 p {
    padding: 44px 0;
    font-size: 24px;
}

.sec2-text1 button {
    padding: 10px;
    font-size: 17px;
    border-radius: 27px;
    border: none;
    background-color: #58c3d7;
    font-weight: bold;
}

.r1-0 {
    right: -154px;
    top: 27px;
}

.r2-0 {
    left: -100px;

}

/* --section 3-- */

.sec-3 {
    background-color: #58c3d7;
    border-radius: 20px;
    padding: 100px 0;
}

.sec3-header h1 {
    font-size: 100px;
    text-align: center;
    padding: 50px 0;
}

.sec3-text {
    padding: 20px 32px;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.sec3-text p {
    font-size: 20px;
}

.sec3-text h3 {
    padding: 10px 0;
    font-size: 30px;
}

.r3 {
    top: 0;
    right: 0;
}

.r4 {
    bottom: 0;
    left: -100px;
}

/* --section 4-- */
.sec4 {
    padding: 100px 0;
}

.sec4-header {
    transform: rotate(-5deg);
}

.sec4-header h3 {
    font-size: 140px;
}

.sec4-header h2 {
    color: black;
    font-family: 'Raleway-ExtraBold';
    font-weight: bolder;
    font-size: 141px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}

.sec4-text {
    padding: 50px 0;
}

.sec4-text h3 {
    font-size: 40px;
}

.sec4-text p {
    border-top: 3px solid black;
    padding: 30px 0;
}

.sec4-text button {
    padding: 10px;
    font-size: 17px;
    border-radius: 27px;
    border: none;
    background-color: #58c3d7;
    font-weight: bold;
}

.sec4-all-text {
    width: 100%;
    margin: 0 60px;
}

.shape {
    right: -172px;
    top: -126px;
}

.l-1 {
    left: 70px;
    bottom: -24px;
    z-index: 100;
}

.l-2 {
    right: 59px;
    bottom: -24px;
}

.l-3 {
    bottom: -50px;
    right: 30px;
    z-index: -10;
}

.l-4 {
    left: -100px;
    bottom: -207px;
}

.sec4-curve-line {
    left: 26px;
    top: 13px;
}

/* --section 5-- */

.sec-5 {
    padding: 200px 0;
    background-color: #58c3d7;
}

.sec5-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.sec5-text p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 19px;
    padding: 30px 0;
}

.sec5-text h2 {
    font-size: 150px;
}

.sec5-text h3 {
    font-size: 40px;
    padding: 20px 0;
}


.a-1 {
    top: 0;
    left: -23em;
}

.a-2 {
    right: -20em;
    top: 131px;
    z-index: 1000;
}

.a-3 {
    right: 0;
    top: 0;
}

.a-4 {
    right: 33em;
    top: 36em;
    z-index: 10000;
}

.a-5 {
    bottom: -163px;
}

footer {
    padding: 100px 0;
    text-align: center;
}

.footer-text {
    padding: 50px 0;
}

.footer-text h2 {
    color: black;
    font-family: 'Raleway-ExtraBold';
    font-weight: bolder;
    font-size: 141px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    padding: 20px 0;
}

.footer-text button {

    padding: 10px;
    font-size: 17px;
    border-radius: 27px;
    border: none;
    background-color: #58c3d7;
    font-weight: bold;

}

.footer-t,
.footer-t1 {
    padding-top: 100px;
}

.footer-t1 {
    text-align: end;
}

.x-1 {
    left: -150px;
    top: -150px;
}

.i-0 {
    right: -32px;
    bottom: -110px;
}