* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    overflow-x: hidden;
    /* background-color: #ffcda9; */
}

section {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.justify {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.col_60 {
    width: 60%;
    margin: 0 auto;
}

.col_40 {
    width: 40%;
    margin: 0 auto;
}

.col_50 {
    width: 50%;
    margin: 0 auto;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

/* --header-- */

.homepage {
    background-color: #ffcda9;

}



.header_text ul li {
    display: inline;
    padding: 0 50px;
    font-weight: bold;
}

header {
    padding: 20px 0;
}

.home {
    padding: 70px 0;
}

.home-img .img2 {
    right: -131px;
    top: -75px;
}

.home-img .img1 {
    z-index: 100;
    top: 45px;
}

.home-img .img3 {
    bottom: -90px;
    left: -28px;
}

.home-img .img4 {
    bottom: 0px;
    left: 0;
}

.home-text .img1 {
    left: -26px;
    bottom: -294px;
}

.home-text h1 {
    font-size: 150px;
}

.home-text p {
    font-size: 23px;
    padding: 20px 0;
}

.home-text button {
    background-color: #58c3d7;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.home-text h2 {
    color: black;
    font-family: 'Raleway-ExtraBold';
    font-weight: bolder;
    font-size: 141px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;

}

svg {
    transform: rotate(30deg);
}

svg text {
    text-anchor: middle;
    fill: black;
    font-size: 16px;
    offset: 50%;
}

.home-t {
    right: 172px;
    top: -108px;
}

.home-outside-img .img1 {
    right: 46px;
    bottom: -10px;
}

.home-outside-img .img2 {
    bottom: 0px;
    right: 0px;
}

/* --section 1 -- */

.sec-1 {
    background-color: #58c3d7;
}


.box {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box>img {
    width: 100%;
}

.img {
    top: 0;
    left: -269px;
    position: absolute;
}

.box .img1 {
    top: 0;
    right: -113px;
    position: absolute;
}

.box .img2 {
    top: 0;
    position: absolute;
}

.img-a {
    top: 0;
    position: absolute;
}

.img-b {
    top: 0;
    left: -351px;
    position: absolute;
}

.sec1-left-img,
.sec1-rit-img,
.sec1-rit-text {
    width: 80%;
    margin: 0 auto;
}

.wave-line {
    left: -249px;
}

.sec-1-left h3 {
    padding: 30px 0;
    font-size: 30px;
}

.sec1-rit-text h2 {
    font-size: 100px;
    padding-top: 200px;
    text-align: center;
}

.sec1-rit-text p {
    padding: 50px 0;
    text-align: right;
    font-size: 20px;
}

.sec1-rit-img h3 {
    padding: 30px 0;
    font-size: 30px;
}

.wave-line1 {
    right: 64px;
    bottom: -148px
}