* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sans';
    /* border: 1px solid black; */

}

body {
    overflow-x: hidden;
}




@font-face {
    font-family: 'sans';
    src: url('../font/OpenSans_Condensed-Regular.ttf')
}

@font-face {
    font-family: 'bold';
    src: url(../font/OpenSans_Condensed-Bold.ttf);
}

@font-face {
    font-family: 'italic';
    src: url('../font/OpenSans_Condensed-Italic.ttf');
}

@font-face {
    font-family: 'extrabold';
    src: url('../font/OpenSans_Condensed-ExtraBold.ttf');
}

@font-face {
    font-family: 'light';
    src: url('../font/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'bolditalic';
    src: url('../font/OpenSans_Condensed-BoldItalic.ttf');
}



.bolditalic {
    font-family: 'bolditalic';
}

.light {
    font-family: 'light';
}

.extrabold {
    font-family: 'extrabold';
}

.italic {
    font-family: 'italic';
}

.bold {
    font-family: 'bold';
    /* word-spacing: 10px; */
}



.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class *=col_] {
    width: 100%;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    /* object-fit: cover; */
}

.justify {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.header_text {
    display: none;
}

.header_text ul li,
.header_icon ul li {
    display: inline-block;
}

.header_text ul li a {
    padding: 0 40px;
    color: #54524f;
    letter-spacing: 5px;
    font-weight: bolder;
}

.header_icon ul li a {
    color: #54524f;
    background-color: #c6c1be;
    padding: 5px 20px 5px 100px;
    border-radius: 30px;
}

header {
    overflow: hidden;
    padding: 30px 0;
    background-image: url("../images/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* --home-- */

.sec_1_text {
    padding: 150px 0;
    width: 50%;
    margin-right: auto;
    /* text-align: justify; */
}

.sec_1_text h1 {
    color: #deb37e;
    font-size: 100px;
    /* font-weight: bolder; */
    /* word-spacing: 49px; */
    /* letter-spacing: 20px; */
    text-shadow: 2px -2px 8px grey;
}



.sec_1_text h4 {
    letter-spacing: 8px;
    padding: 20px 0;
    font-size: 30px;
    color: black;
}

.sec_1_text button {
    color: #776c64;
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 5px 60px;
}

.sec_1_text h3 {
    color: #54524f;
    /* word-spacing: 5px; */
    padding: 40px 0;
    font-size: 30px;
    font-weight: 100;
    text-align: justify;
}

.space {
    padding-top: 40px;
}

.sec_1_text img {
    position: absolute;
    right: 0;
    left: 0;
}

.header-shape {
    position: absolute;
    top: -10px;
    width: 105%;
    left: -20px;
    /* bottom: 0; */

}

.header-shape1 {
    position: absolute;
    bottom: -10px;
    width: 105%;
    left: -30px
}


.header_text,
.logo,
.header_icon {
    position: relative;
    z-index: 10;
}





/* --section 2-- */

.sec_2 {
    overflow: hidden;
    /* margin: 100px 0; */
    padding: 100px 0;
    position: relative;
}

.sec_2_text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.sec_2_text>h3 {
    color: #e2a355;
    font-size: 50px;
    /* padding: 10px 0; */
    font-weight: bolder;

}


.sec_2_text p {
    color: #776c64;
    font-size: 30px;
    padding: 60px 0;
    line-height: -10px;
}

.sec_2_img img {
    width: 100%;
    display: block;
}


.sec_2_t {
    background-color: #776c64;
    color: white;
}

.sec_2_t h4 {
    margin: 0 10px;
    line-height: 30px;
    padding-bottom: 40px;
    font-size: 20px;
}


.sec_2_t h3 {
    margin: 0 10px;
    padding: 10px 0;
    font-size: 30px;
}

.sec_2_button {
    text-align: center;
    padding: 30px 0;
}

.sec_2_button button {
    color: white;
    background-color: #776c64;
    border: none;
    border-radius: 50px;
    padding: 15px 60px;
    letter-spacing: 5px;
    font-size: 20px;
}

.leaf-shape {
    position: absolute;
    bottom: 0;
    left: -18.7em;
}

/* --section 3 -- */

img {
    display: block;
    width: 100%;
}

.sec3-text {
    color: white;
    width: 66%;
    margin: 100px auto;
    padding: 49px 0;
}

.sec3-text h3 {
    font-size: 60px;
}

.sec3-text h2 {
    font-size: 55px;
}

.sec3-text p {
    font-size: 20px;
    padding: 40px 0;
    line-height: 26px;
}

.sec3-text button {
    background-color: #f5a54e;
    color: white;
    border-radius: 20px;
    padding: 10px 60px;
    border: none;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 20px;
}

/* --section 4-- */

.sec_4 {
    background-color: #776c64;
    padding: 200px 0;
    overflow: hidden;

}

.sec_5::before {
    content: url("../images/up-down.png");
    position: absolute;
    top: -70px;
    left: -30px;
    /* z-index: 99999; */
    width: 105%;
}

.sec_4_text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.sec_4_text h3 {
    color: white;
    font-size: 60px;
    padding: 60px 0;
    letter-spacing: 5px;
}

.sec_4_text p {
    color: rgb(215, 211, 211);
    font-size: 35px;
}

.hike-shape1 {
    top: 0;
    width: 105%;
    left: -50px;
}

.hike-shape2 {
    position: absolute;
    bottom: -10em;
    width: 105%;
    left: -20px;

}

.sec4-leaf {
    left: -10em;
}



/* --section 5 -- */

.sec_5 {
    background-image: url("../images/6.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sec_5_text {
    padding-top: 150px;
    margin-top: 150px;
    text-align: end;
    padding-bottom: 150px;
    margin-bottom: 150px;
}

.sec_5_text h2 {
    margin: 0 170px;
    color: #deb37e;
    font-size: 100px;
    text-shadow: 2px 2px 5px grey;
}

.sec_5_text h3 {
    margin: 0 170px;
    color: #54524f;
    font-size: 100px;
    text-shadow: 2px 2px 5px grey;
}

.sec5-shape {
    bottom: -50px;
    width: 105%;
    left: -20px;
}

/* --section 6 -- */

.sec_6_text {
    margin: 0 26px;
}

.sec_6_text h3 {
    color: #e2a355;
    font-size: 35px;

}

.sec_6_text p {
    color: #776c64;
    font-size: 20px;
    /* line-height: 25px; */
}

.sec_6_icontext {
    text-align: center;
    /* padding: 150px 0; */
    width: 60%;
    margin: 0 auto;
    color: #54524f;
}

.sec_6_icontext i {
    font-size: 50px;
    padding: 50px;
}

.sec_6_icontext h4 {
    padding: 30px 0;
    font-size: 30px;
}

.sec_6_icontext p {
    font-size: 27px;
}

.sec6-leaf {
    right: -20em;
    bottom: -19em;
    z-index: 1000;
}

.sec6-shape2 {
    bottom: -10em;
    width: 105%;
    left: -20px;
    /* z-index: 1000; */
}


/* --section 7-- */

.sec_7 {
    background-color: #edb57c;
    text-align: center;
    padding: 200px 0;
    /* overflow: hidden; */
}

.sec_7_title h2 {
    color: white;
    font-size: 70px;
    padding: 20px 0;
}

.sec_7_p p {
    color: #54524f;
    font-size: 27px;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 40px;
}

.sec_7_input {
    padding: 30px 0;
}

.sec_7_input input {
    border-radius: 41px;
    padding: 10px 30px;
    width: 40%;
    border: none;
    font-size: 25px;
}

.sec_7_input button {
    background-color: #776c64;
    color: white;
    border: none;
    border-radius: 41px;
    padding: 10px 36px;
    margin-left: -50px;
    font-size: 25px;

}

.sec7-shape {
    top: 0px;
    width: 105%;
    left: -30px
}

/* --section 8-- */

.sec_8::before {
    content: url("../images/up-down.png");
    position: absolute;
    top: -70px;
    left: -30px;
    width: 105%;
}


.sec_8 {
    padding: 300px 0 100px 0;
    color: white;
    background-color: #776c64;
    /* margin: 0 50px; */
}

.sec_8_icontext ul li {
    display: inline;
}

.sec_8_icontext ul {
    padding: 20px 0;
}

.sec_8_icontext ul li a {
    color: white;
    padding: 0 5px;
}

.sec_8_icontext {
    width: 82%;
    margin: 0 -6px;
}

.sec_8_icontext h2 {
    padding: 10px 0;
    font-weight: lighter;
    color: #fffefd;
}

.sec_8_icontext p {
    font-size: 20px;
    padding: 10px 0;
    line-height: 20px;
    text-align: left;
}

.sec_8_icontext ul li a i {
    padding: 10px;
    background-color: white;
    color: #776c64;
    border-radius: 40px;
    font-size: 30px;
}

.sec_8_text {
    line-height: 35px;
    width: 82%;
    margin: 0 auto;
    /* text-align: justify; */
}

.sec_8_text h3 {
    padding: 10px 0;
    font-size: 25px;
}



@media (min-width: 576px) {
    .container {
        width: 540px;
    }

   
}


@media (min-width: 768px) {
    .container {
        width: 720px;
    }

}


@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    .header_text {
        display: block;
    }

    .bars {
        display: none;
    }

    .col_1 {
        width: 100%;
    }

    .col_30 {
        width: 30%;
    }

    .col_50 {
        width: 50%;
    }

    .col_24 {
        width: 24%;
    }

    .col_16 {
        width: 16.666%;
    }

 
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}



@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}