* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.container {
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
}

.ring {
    left: 24%;
    top: 6%;
}

.white {
    border-radius: 50%;
    box-shadow: 0 0 0 60px rgba(128, 128, 128, 0.43);
}

.text {
    text-align: center;
    top: 44%;
    left: 32%;
    color: plum;
}

.text h1,
.text h2,
.text h3 {
    padding: 20px 0;
}

.white {

    animation: round 3s infinite alternate;
}

.ring {
    animation: round 3s infinite alternate;
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }